.user-page {
  display: flex;
  padding: 1.5rem;
}

.avatar {
  margin-right: 1.5rem;
}

.button-container {
  margin-left: 1.5rem;
}

.submit-button {
  margin-left: 1.5rem;
}

.title {
  font-weight: 700;
  font-size: 18px;
}
